
html
  head
    title|singIn
  body
    
    form(action="/signIn" method="post")
      input(type="text" name = "nickName")
      input(type = 'submit' name = "signIn_submit" value = "登入")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")


    


    
  
